{% if page.sidebar %}
  <div class="sidebar sticky">
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}
        <h3>{{ s.title }}</h3>
      {% endif %}
      {% if s.text %}
        {{ s.text | markdownify }}
      {% endif %}
      {% if s.nav %}
        <ul class="sidebar-nav">
          {% for item in s.nav %}
            <li>
              <a href="{{ item.url }}">{{ item.title }}</a>
              {% if item.children %}
                <ul class="sidebar-subnav">
                  {% for child in item.children %}
                    <li><a href="{{ child.url }}">{{ child.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}